@* Sidebar Trabajador. Feedback JP: "Devoluciones atendidas" en vez de "Mis devoluciones" *@

<button class="admin-mobile-toggle d-lg-none" type="button"
        data-bs-toggle="offcanvas" data-bs-target="#trabSidebarOffcanvas"
        aria-controls="trabSidebarOffcanvas">
    <i class="fa-solid fa-bars"></i>
</button>

<aside class="admin-sidebar d-none d-lg-flex">
    <TrabajadorSidebarContent />
</aside>

<div class="offcanvas offcanvas-start admin-offcanvas" tabindex="-1" id="trabSidebarOffcanvas">
    <TrabajadorSidebarContent />
</div>
